
.row {
  margin: 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.nametags img {
  width: 120%;
  z-index: 20;
  position: relative;
  margin-left: -14.395px;
}

.nametags p {
  margin: 0;
  text-align: center;
  font-family: 'Vollkorn', serif;
  font-size: 17.5px;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
}

.col-sm-11 {
  padding: 0;
}

.hex {
  float: left;
  margin-right: -65px;
  margin-bottom: -125px;
  position: relative;
}
.hex .left {
  float: left;
  width: 0;
  border-right: 75px solid #6C6;
  border-top: 130px solid transparent;
  border-bottom: 130px solid transparent;
}
.hex .middle {
  float: left;
  width: 150px;
  height: 260px;
  background: #6C6;
}
.hex .right {
  float: left;
  width: 0;
  border-left: 75px solid #6C6;
  border-top: 130px solid transparent;
  border-bottom: 130px solid transparent;
}
.hex-row {
  clear: left;
}
.hex.even {
  margin-top: 132.5px;
}


.hex-inside {
  float: left;
  margin-left: 6px;
  margin-top: 6px;
  position: absolute;
  z-index: 10;
  overflow: visible;
}
.hex-inside .left {
  width: 0;
  border-right: 72px solid white;
  border-top: 124.8px solid transparent;
  border-bottom: 124.8px solid transparent;
}

.hex-inside .middle {
  width: 144px;
  height: 249.6px;
  background: white;
}
.hex-inside .right {
  width: 0;
  border-left: 72px solid white;
  border-top: 124.8px solid transparent;
  border-bottom: 124.8px solid transparent;
}
